:root.theme-dark {
  --accent-color: #FF0070;
  --icon-color: #FF0070;
  --navigation-color: #FF0070;
  --angles-color: #FF0070;
  --background-color: #000028;
  --header-font-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --button-color: #ff0070;
  --button-default-color: #ff0070;
  --button-hover-color: #ff007066;
  --button-focus-color: #ff0070; 
  --url-color: #F1B2CE;
  --header-section-color: #FF0070;
  --title-color: #DB00FF;
  --paragraph-text-color: #F1B2CE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --icon-color: #FF0070;
    --navigation-color: #FF0070;
    --angles-color: #FF0070;
    --background-color: #000028;
    --header-font-color: #000028;
    --cover-image: url(../images/cover-image-dark.png);
    --button-color: #ff0070;
    --button-default-color: #ff0070;
    --button-hover-color: #ff007066;
    --button-focus-color: #ff0070;
    --url-color: #F1B2CE;
    --header-section-color: #FF0070;
    --title-color: #DB00FF;
    --paragraph-text-color: #F1B2CE;
  }
}