:root.theme-light {
  --accent-color: #FF8DCB;
  --icon-color: transparent;
  --navigation-color: #353430;
  --angles-color: #353430;
  --background-color: #FFF1F7;
  --header-font-color: #353430;
  --cover-image: url(../images/cover-image-light.png);
  --button-color: #353430;
  --button-default-color: #353430;
  --button-hover-color: #32312D66;
  --button-focus-color: #353430;
  --url-color: #353430;
  --header-section-color: #353430;
  --title-color: #FFC2E6;
  --paragraph-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --icon-color: transparent;
    --navigation-color: #353430;
    --angles-color: #353430;
    --background-color: #FFF1F7;
    --header-font-color: #353430;
    --cover-image: url(../images/cover-image-light.png);
    --button-color: #353430;
    --button-default-color: #353430;
    --button-hover-color: #32312D66;
    --button-focus-color: #353430;
    --url-color: #353430;
    --header-section-color: #353430;
    --title-color: #FFC2E6;
    --paragraph-text-color: #353430;
  }
}
